<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>雀康茶楼麻将代理后台</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <!--禁止浏览器从本地机的缓存中调阅页面内容-->
    <meta http-equiv="Pragma" content="no-cache"/>
    <!--no-cache指示请求或响应消息不能缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--boostrap-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>-->

    {% block head %}{% end %}

    <!--自定义-->
    <link rel="stylesheet" href="/static/style/mainStyle.css?v=1.02">
    <script src="/static/js/common.js?v=1.0.2"></script>
</head>
{% block body %}{% end %}
<img class="ja-nav-static-bottom" src="/static/images/bot_logo.png" alt="雀康" >
</html>
